<robot name="my_base" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="head.xacro" />
    <xacro:include filename="demo05_car_base.urdf.xacro" />
    <xacro:include filename="car_camera.urdf.xacro" />
    <xacro:include filename="car_laser.urdf.xacro" /> 
    
    <xacro:include filename="gazebo/move.xacro" /> 
    <xacro:include filename="gazebo/laser.xacro" /> 
    

</robot>