<launch>

    <!-- 将 Urdf 文件的内容加载到参数服务器 -->
    <!-- <param name="robot_description" command="$(find xacro)/xacro $(find urdf02_gazebo)/urdf/car.urdf.xacro" />
    <param name="robot_description1" command="$(find xacro)/xacro $(find urdf02_gazebo)/urdf/car.urdf.xacro" /> -->

    <!-- 启动 gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find urdf02_gazebo)/worlds/world1.world" />
    </include>

    <!-- <include file="$(find urdf02_gazebo)/launch/demo_sensor.launch" /> -->

     <!-- 在 gazebo 中显示机器人模型 -->
     <group ns = "robot1">
        
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find urdf01_rviz)/config/robot1.rviz" />

         <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
        </node> 
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />


       <param name="robot_description" command="$(find xacro)/xacro $(find urdf02_gazebo)/urdf/car.urdf.xacro ns:=robot1" />
       <node pkg="gazebo_ros" type="spawn_model" name="robot1" args="-urdf -model robot1 -param robot_description" />
       <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" />
     </group>


     <group ns = "robot2">
        
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find urdf01_rviz)/config/robot2.rviz" />

         <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
        </node> 
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />


       <param name="robot_description" command="$(find xacro)/xacro $(find urdf02_gazebo)/urdf/car.urdf.xacro ns:=robot2" />
       <node pkg="gazebo_ros" type="spawn_model" name="robot2" args="-urdf -model robot2 -z 0.0 -x 1.0 -y 0.0 -param robot_description" />
       
        <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" />
     </group>
     <!-- <group ns = "robot2">
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find urdf01_rviz)/config/show_mycar.rviz" />
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />


      <param name="robot_description1" command="$(find xacro)/xacro $(find urdf02_gazebo)/urdf/car.urdf.xacro" />
      <node pkg="gazebo_ros" type="spawn_model" name="model2" args="-urdf -model robot2 -z 0.0 -x 1.0 -y 2.0  -param robot_description1"/>
    
     </group> -->
   

</launch>